h1 {
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
}

p {
    text-shadow: 1px 1px #413b3b;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: transparent;
    text-shadow: 3px 3px #413b3b;
}

#video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
  

.rete_tipi
{
    position: absolute;
    top: 80%;
    left: 20%;
}

.onde
{
    position: absolute;
    top: 80%;
    left: 42%;
}
#hiddenButtons {
        display: flex;
        justify-content: center;
        align-items: center;        
        height: 100px;
        flex-direction: row;
        position: absolute;
        top: 60%;
        left: 5%;
  }
  
.rete_cavi
{
    position: absolute;
    top: 80%;
    right: 20%;
}

button
{
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    width: 300px;
    height: 60px;
    background-color: transparent;
    border-color: #00ff00;
    backdrop-filter: blur(10px);
    color: white;
    text-shadow: 3px 3px #413b3b;
    margin: 10px;
    font-size: 18px;
}

.container {
    width: 550px;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-top: -275px;
    margin-left: -275px;
    text-align: center;
}


.text {
    font-size: 20px;
    backdrop-filter: blur(30px);
    border-radius: 30px;
    padding: 10px;
    background-clip: content-box;
    box-shadow: inset 0 0 0 2px #00ff00;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.titolo {
    text-shadow: 2px 2px #00ff00;
}

.title1 {
    font-size: 50px;
    position: absolute;
    right: 50%;
    top: 10%;
    width: 350px;
    margin-right: -175px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    background-color: transparent;
    border-color: #00ff00;
    backdrop-filter: blur(10px);
}

.text1 {
    position: absolute;
    right: 50%;
    top:30%;
    width: 900px;
    margin-right: -450px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    background-clip: content-box;
    padding: 10px;
    box-shadow: inset 0 0 0 2px #00ff00;
    backdrop-filter: blur(10px);
    font-size: 1px;
    opacity: 0;
}

.title2 {
    font-size: 50px;
    position: absolute;
    right: 50%;
    bottom: 10%;
    width: 350px;
    margin-right: -175px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    background-color: transparent;
    border-color: #00ff00;
    backdrop-filter: blur(10px);
}

.buttons {
    opacity: 0;
}

.button1 {
    position: absolute;
    font-size: 20px;
    bottom: 10%;
    right: 20%;
    width: 1px;
    height: 1px;
    margin-right: -175px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    background-color: transparent;
    border-color: #00ff00;
    backdrop-filter: blur(10px);
}

.button2 {
    position: absolute;
    font-size: 20px;
    bottom: 10%;
    right: 50%;
    width: 1px;
    height: 1px;
    margin-right: -175px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    background-color: transparent;
    border-color: #00ff00;
    backdrop-filter: blur(10px);
}

.button3 {
    position: absolute;
    font-size: 20px;
    bottom: 10%;
    right: 80%;
    width: 1px;
    height: 1px;
    margin-right: -175px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    background-color: transparent;
    border-color: #00ff00;
    backdrop-filter: blur(10px);
}



.text2 {
    position: absolute;
    bottom: 15%;
    right: 20%;
    width: 1px;
    height: 1px;
    margin-right: -200px;
    opacity: 0;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    background-color: transparent;
    border-color: #00ff00;
    backdrop-filter: blur(10px);
    padding: 10px;
    box-shadow: inset 0 0 0 2px #00ff00;
    text-align: center;
}

.text3 {
    position: absolute;
    bottom: 15%;
    right: 50%;
    width: 1px;
    height: 1px;
    margin-right: -200px;
    opacity: 0;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    background-color: transparent;
    border-color: #00ff00;
    backdrop-filter: blur(10px);
    padding: 10px;
    box-shadow: inset 0 0 0 2px #00ff00;
    text-align: center;
}

.text4 {
    position: absolute;
    bottom: 15%;
    right: 80%;
    width: 1px;
    height: 1px;
    margin-right: -200px;
    opacity: 0;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    background-color: transparent;
    border-color: #00ff00;
    backdrop-filter: blur(10px);
    padding: 10px;
    box-shadow: inset 0 0 0 2px #00ff00;
    text-align: center;
}

.back {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    background-color: transparent;
    border-color: #00ff00;
    backdrop-filter: blur(10px);
    padding: 10px;
    box-shadow: inset 0 0 0 2px #00ff00;
    text-align: center;
}

.video {
    opacity: 0;
    position: absolute;
    border-radius: 30px;
    width: 1px;
    height: 1px;
    top: 62%;
    left: 50%;
    margin-left: -175px;
    margin-top: -175px;
    background-color: transparent;
    border-color: #00ff00;
    backdrop-filter: blur(10px);
    padding: 10px;
    box-shadow: inset 0 0 0 2px #00ff00;
}